# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.

# Mobile App Team
*       @mobile-team

# Flutter code
*.dart  @mobile-team @flutter-experts

# CI/CD
.github/ @devops-team

# Documentation
*.md    @docs-team